section.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 15px 5%;    
    background: #000;
    color: var(--cor-de-fundo);
    color: #cecece;
    font-family: 'Open Sans', serif;
    font-weight: 300;
    
    
}

.menu__list__item__contato{
    display: none;
}

.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}


.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 32px;    
}

.menu__list__item a{
    color: #cecece;
    font-style: normal;    
    font-family: 'Open Sans', serif;
}

.menu__list__item a:hover{
    text-decoration: underline;
    
}

#menu__list__contacto {
    font-weight: 550;
}


/*Tablet*/
@media only screen and (max-width: 1024px) and (min-width: 768px)  {


    section.menu{        
        padding: 16px 32px;
        gap: 10px;
    }

    .menu__title{
        font-size: 10px;
    }

    .menu__list__item__contato{
        display: block;
    }

    .menu__list__item__contato a{        
        color: #cecece;
        font-style: normal;    
        font-family: 'Open Sans', serif;
        font-weight: 550;
    }

    .menu__list{
        display: none;
    }
    

}
    



/*Mobile*/
@media only screen and (max-width: 767px) and (min-width: 360px) {

    section.menu{        
        padding: 16px 20px;
        gap: 10px;
        font-size: 12px;
    }    

    .menu__list__item__contato{
        display: block;
        margin: 5px 0;
    }

    .menu__list__item__contato a{        
        color: #cecece;
        font-style: normal;    
        font-family: 'Open Sans', serif;
        font-weight: 400;
        font-size: 12px;
    }

    .menu__list{
        display: none;
    }

    .menu__title{
        font-size: 12px;
        margin: 5px 0;
    }

}
