section.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;    
    background: #000;
    color: var(--cor-de-fundo);
    color: #cecece;
    font-family: 'Open Sans', serif;
    font-weight: 300;
}

.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}


.menu__list{
    display: flex;
    justify-content: space-between;
    gap: 32px;    
}

.menu__list__item a{
    color: #cecece;
    font-style: normal;    
    font-family: 'Open Sans', serif;
}

.menu__list__item a:hover{
    text-decoration: underline;
    
}

#menu__list__contacto {
    font-weight: 550;
}


/*Tablet*/
@media (min-width: 768px) {


    section.menu{        
        font-weight: 300;
        width: 95%;
        
    }
    
    .menu__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
    }
    
    
    .menu__list{
        display: flex;
        justify-content: space-between;
        gap: 32px;    
    }
    
    .menu__list__item a{
        color: #cecece;
        font-style: normal;    
        font-family: 'Open Sans', serif;
    }
    
    .menu__list__item a:hover{
        text-decoration: underline;
        
    }
    
    #menu__list__contacto {
        font-weight: 550;
    }

    
}
    

/*Mobile*/
@media (min-width: 425px) {



}