section.experience{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--cor-de-letra);
    font-size: 22px;
    font-weight: 700;
    font-family: 'Open Sans', serif;
    
}

.experience__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 25px;          
}

.experience__img{
    width: 630px;
    height: 345px;
}

.img__izq{
    order: 0;
}

.img__der{
    order: 1;
}

.experience__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.experience__title, .experience__text{
    font-family: 'Open Sans', serif;
    margin: 5px 0;
}

.experience__title{
    font-weight: 700;
    font-size: 20px;    
}

.experience__text{
    font-weight: 500;
    font-size: 16px;    
}

.demoBtn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:0px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.demoBtn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.demoBtn:active {
	position:relative;
	top:1px;
}

.repoBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#383838;
	font-family:Arial;
	font-size:15px;	
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.repoBtn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.repoBtn:active {
	position:relative;
	top:1px;
}   





/*Tablet*/
@media only screen and (max-width: 1024px) and (min-width: 768px)  {


.experience__section__title{
    font-size: 22px;
}

.experience__box{
    display: flex;
    flex-direction: column;
       
}

.experience__info{
    justify-content: flex-start;
}

.experience__img{
    width: 704px;
    height: 320px;
}

.img__izq, .img__der{
    order: 0;
}

.experience__title{
    font-size: 16px;    
}

.experience__text{
    font-size: 12px;    
}

.demoBtn {
	font-size: 12px;
    padding: 5px 10px;
}

.repoBtn {
	font-size: 12px;
    padding: 5px 10px;
}

    
}
    

/*Mobile*/
@media (min-width: 425px) {



}