section.skills, section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__title, .hobbies__title{
    color: var(--cor-de-letra);
    font-size: 32px;
    font-family: 'Open Sans', serif;
}

.skills__line, .hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    width: 100%;
}

.skills__box, .hobbies__box{
    display: flex;
    justify-content: center;
    width: 175px;
    height: 130px;      
}

.skills__box ul, .hobbies__box ul{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100px;
    padding: 3px 0;
    text-align: center;
}

.skills__box i, .hobbies__box i{
    color: #2A7AE4;    
}

.skills__name, .hobbies__name{
    margin-top: 5px;
}



/*Tablet*/
@media only screen and (max-width: 1024px) and (min-width: 768px)  {

    .skills__title, .hobbies__title{        
        font-size: 20px;        
    }

    .skills__box, .hobbies__box{        
        width: 145px;
        height: 100px;      
    }

    
}
    

/*Mobile*/
@media only screen and (max-width: 768px) and (min-width: 360px) {

.skills__title, .hobbies__title{        
    font-size: 17px;        
}

.skills__box, .hobbies__box{        
    width: 100px;
    height: 85px;    
}

.skills__name, .hobbies__name{
    font-size: 12px;
}

.fa-3x {
    font-size: 2em;
}

}