.textarea {
    box-sizing: border-box;
    border-bottom: 2px solid #C8C8C8;
    padding: 1.5rem 0.5rem;
    border-radius: 4px;
    width: 100%;
    min-height: 3rem;
    resize: none;

    color: #464646;
    font-size: 15px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: #FFFFFF;    
    border-top: #ffffff;
    border-left: #FFFFFF;
    border-right: #FFFFFF;
}
  
.textarea__container {    
    position: relative;    
    width: 100%;    
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
    border-bottom: 2px solid #2A7AE4;
}

.textarea-label {
    position: absolute;
    top: 1.25rem;
    left: 0.5rem;
    font-size: 15px;
    transition: all 0.25s;
    color: #A2A2A2;  
    font-weight: 200;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {  

    font-size: 0.75rem;
    top: 0.5rem;
    transition: all 0.25s;
    color: #2A7AE4;    
}

.textarea-container--invalid {
    margin-bottom: 0.5rem;
}

.textarea-container--invalid .textarea {
    border-bottom: 2px solid var(--warning-color);    
}

.textarea-container--valid .textarea {    
    border-bottom: 2px solid rgb(88, 139, 88);    
}

.textarea-container--invalid .textarea-label {
    color: var(--warning-color);
}

.textarea-message-error {
    display: none;
    font-size: 13px;  
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.textarea-container--invalid .textarea-message-error {
    display: block;
    color: var(--warning-color);
    padding-left: 0.25rem;
}


/*Tablet*/
@media only screen and (max-width: 1024px) and (min-width: 768px)  {

.textarea {    
    font-size: 12px;    
}

.textarea-message-error {    
    font-size: 12px;  
}

.textarea-label{
    font-size: 13px;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
    font-size: 0.6rem;    
}

        
}


/*Mobile*/
@media only screen and (max-width: 767px) and (min-width: 360px) {

.textarea {    
    font-size: 10px;    
}

.textarea-message-error {    
    font-size: 10px;  
}

.textarea-label{
    font-size: 11px;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
    font-size: 0.5rem;    
}
    
}